* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    color: rgb(0, 0, 0);
}

/* EJERCICIOS DE MODULO ARRAY, QUE SE PIDEN */
.square {
    width: 100px;
    height: 100px;
    background-color: blue;
}